@media (max-width: 1360px){
    .icons ul a {
        width: 50px;
        height: 50px;
    }


    .icons img{
        width: 30px;
        height: auto;
    }


  .banner-text{
        width: 31.25rem;
        min-width: 31.25rem;
        
    }

    .banner-sub{
        
        min-width: 400px;
    }

    .item {
        scale: 0.8;
        height: 25rem;
        width: 25rem;
        min-height: 400px;
        min-width: 400px;
    }

    .port-text h4{
        font-size: .9375rem;
        line-height: normal;
    }

    .port-text p{
        font-size: 16px;
        line-height: normal;
    }

 }

