@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    
}

html{
    min-height: 100vh;
    height: 100vh;
}

:root{

    --shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    /* --shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;*/
}


body{
    background-color: var(--background-main);
    color: var(--text-color);
    font-family: 'Roboto';
    min-height: 100vh;
    height: 100vh;
    width: 100%;
    
}



.header{

    height: 5dvh;
    width: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-section);

}

.header img {
    height: 70%;
    width: auto;
    padding: 0px 20px;
}

.header p{
    font-weight: 700;
    color: var(--accent-color); 
    text-shadow: rgb(87, 87, 87) 1px 2px 5px;
    padding: 0px 20px; 
    text-decoration-line: underline; 
}

main{
    display: flex;
    height: 100vh;
    
}

/* side */

.sidebar{
    
    width: 20dvw;
    height: 105vh;
    min-width: 250px;
    background-position-y: 30px;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
   
}

.account-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    min-width: 250px;
    height: fit-content;

    
    
  }

  .card {
    width: 25dvh;
    min-width: 200px;
    height: 22%;
    border-radius: 5px 5px 0px 0px;
    background: rgba(108, 108, 108, 0.1);
    backdrop-filter: blur(5px) brightness(120%);
    border: 1px  solid rgba(108, 108, 108, 0.5);
    position: fixed;
    margin: auto;
    
    
    
  }
  
  .user {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

   #userAvatar {
    position: relative;
    bottom: -40px;
    height: 10dvw;
    min-height: 100px;
    max-height: 300px;
    width: auto;
    backdrop-filter: drop-shadow(var(--shadow));
    
  }

  .line {
    width: 80%;
    height: 3px;
    border-radius: 15px;
    background-color: var(--accent-color);
    margin: 60px auto 0px auto;
    filter: brightness(120%);
    display:flex;
    

  }


  .accountStats {
    height: fit-content;
    background-color: var(--side-background-color);
    border-radius: 0px 0px 10px 10px;
    display:flex;
    flex-direction: column;
    width: 100%;
    min-width: 200px;
    position: relative;
    box-shadow: var(--shadow);
    z-index: -1;
    

  }

  .icons ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    
  }

  .icons ul a {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: -40px;
    background-color: var(--accent-color);
    border-radius: 10px;
    box-shadow: var(--shadow);

  }

  .icons ul a:hover{
    filter: brightness(80%);
  }

 .icons img{
    
    width: 40px;
    height: auto;
 }

.Links-Page ul{
    list-style: none;
    padding: 0;
    display: flex;
    
    flex-direction: column;
    align-items: center;
}

.Links-Page ul a {
    width: 50%;
    padding: 10px;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--side-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    background-color: var(--accent-color);
    border-radius: 10px;
    box-shadow: var(--shadow);

 
  
}

.Links-Page ul a:last-child{
    margin-bottom: 30px;
}

.Links-Page ul a:hover{
    filter: brightness(80%);
  }


/* Content */

.Container-Main{
    width: 100%;
    margin: 20px
}

.Banner{
    height: 60dvh;
    width: 80dvw;
    box-shadow: var(--shadow);
    border-radius: .9375rem;
    margin-bottom: .9375rem;
    background-color: var(--background-section);
    display: flex;
    justify-content: center;
    background-image: url(../img/Computer.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    
    
   
}

.banner-text{
    
    padding: .9375rem;
    width: 50%;;
    height: fit-content;

    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px) brightness(90%);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: 2px  solid rgba(108, 108, 108, 0.5);
    
}

.banner-text h1{
    font-size: 3dvw;
    font-weight: 500;
    letter-spacing: .3125rem;
    text-align: center;
    margin-bottom: .3125rem;
    text-transform: uppercase;
    display: inline;
    
    
        
}


    
    

#two {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    letter-spacing: .3125rem;
    
  }
  
  .box {
    height: 40px;
    overflow: hidden;
    position: relative;
  }
  .box::before {
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    content: '';
    height: 10px;
    position: absolute;
    /*background: linear-gradient(180deg, var(--background-section), rgba(255, 142, 113, 0));*/
  }
  .box::after {
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    content: '';
    height: 10px;
    position: absolute;
    /*background: linear-gradient(180deg, rgba(255, 142, 113, 0), var(--background-section));
  */}
  
  .banner-list {
    float: right;
    margin: 0;
    padding: 0;
    -webkit-animation: scrollUp 6s ease-in-out infinite normal;
            animation: scrollUp 6s ease-in-out infinite normal;
  }
  .banner-list li {
    opacity: 1;
    height: 20px;
    padding: 10px 10px;
    list-style: none;
    
  }
  
  @-webkit-keyframes scrollUp {
    from {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    to {
      -webkit-transform: translateY(-80%);
              transform: translateY(-80%);
    }
  }
  
  @keyframes scrollUp {
    from {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    to {
      -webkit-transform: translateY(-80%);
              transform: translateY(-80%);
    }
  }

  .line-banner {
    width: 40%;
    height: .1875rem;
    border-radius: 15px;
    background-color: var(--accent-color);
    margin: 1.25rem auto 1.25rem  auto;
    filter: brightness(120%);
    
  }

  .banner-sub{
    text-align: justify;
    width: 50%;
    margin: auto;
    letter-spacing: .3125rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5rem;
  }



/* background-color: var(--background-section);*/
